{% extends "base_generic.html" %}
{% load static %}
{% load tz %}
{% block meta %}
<meta id="_token" content="{{ csrf_token }}">
{% endblock %}

{% get_current_timezone as TIME_ZONE %}
{% block headbar %}
{{ request.user.shown_name }} (<a href="/user/{{ request.user.username}}">My timeline</a>) - <a href="/account/config">Configs</a> - <a href="/account/logout">Log out</a>
{% endblock %}

{% block content %}
<div id="intro"><div id="intro-shown-name">{{user_shown_name}}</div><div id="intro-id-name">{{username}}</div>
{% if username == request.user.username %}
My account<br>
{% endif %}
{% if username != request.user.username %}
{% if following_status == "unfollowed" %}<button value="send-following-request" id="follow-user-button">Follow</button><br>{% endif %}
{% if following_status == "undecided" %}<button value="cancel-following-request" id="follow-user-button">Cancel Following Request</button><br>{% endif %}
{% if following_status == "yes" %}<button value="unfollow" id="follow-user-button">Unfollow</button><br>{% endif %}

{% endif %}
Following: <span class="fo-number">{{user_following_number}}</span> Follower: <span class="fo-number">{{user_follower_number}}</span></div>

  <div id="public_timeline">
    <div id="new_post_notifier" value=""></div>
    <div id="latest_time" style="display: block;">{{latest_received_time|date:"Y-m-d H:i:s.u"}}+0000</div>

    {% for post in viewed_timeline_info %}

  <div id="post-{{post.0.id}}" class="post">
    <img class="timeline-avatar-img"src="{{post.0.poster.avatar.url}}">
    <div class="post-content"><a href="/user/{{post.0.poster}}">{{post.0.poster.shown_name}}</a>
    at <a href="/post/{{post.0.id}}" class="post-time">{{post.0.post_time|date:"Y-m-d H:i:s.u"}}+0000</a><br/>
    {{post.0.text|linebreaksbr}}<br/>
    <span id="reply-{{post.0.id}}" data-value="{{post.0.id}}" class="reply">↩️</span>
    - <span id="repost-{{post.0.id}}" data-value="{{post.0.id}}"  class=" {%if post.1 == 0 %} unchecked{% endif %} repost">🔁</span> 
    - <span id="fav-{{post.0.id}}" data-value="{{post.0.id}}"class=" {%if post.2 == 0 %}unchecked{% endif %} fav">⭐</span></div>
</div>
  {% endfor %}
  <div id="previous_post_loader">More posts</div>
  <div id="oldest_time" style="display: block;">{{oldest_received_time|date:"Y-m-d H:i:s.u"}}+0000</div>

  </div>


  <script type="text/javascript" src="{% static 'timeline.js' %}?{% now 'U' %}">



</script>
{% endblock %}